body {
  margin:0;
  background-color: whitesmoke !important;
  background-size: auto;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
